/bin
/build
/.settings
trash
log
tmp
.tmp
.DS_Store
*.swp
old
bak
.DS_Store




# 不想同步的配置文件
copyShell/config/license/
copyShell/config/408src/
copyShell/config/auxsrc/

# 不想同步的目录
util/commonLog/
dmpsh
codeShell
releaseLS
oracleBak
脚本学习
