# 该文件是backup.sh的配置文件 可以在该文件中设置要备份的路径及相关参数

##################### 参数配置区域如下#########################################   
[config_start]

# 备份文件存储路径 注意最后必须以/结尾 
PATH=/Users/mang/bat-mac/wctest/

# 备份文件名 
# 注意 这里只指定文件名即可 backup.sh中会自动设置时间信息。如你设置成backup 则最后生成的文件名可能为 backup201312052217.tar.gz 表示该压缩包是在2013年12月05日22点17生成
NAME=backup



[config_end]
########################参数配置区域如上###########################################

[backup_path_start]
#######################在下方设置要备份的路径###################################### 
# 一行一个路径并且使用绝对路径 注释以＃打头
# 注意路径不能带空格，目前该脚本不能处理带空格的路径 即使你在路径上加上双引号也不能处理



#/etc/
#/usr/local/
#/home/mang/
/home/mang/test1/
/home/mang/test2/
/home/mang/test3/
/home/mang/test4/

##################### 在上方设置要备份的路径####################################### 
[backup_path_end]




[exclude_path_start]
#######################在下方设置要排除的路径###################################### 


/home/mang/test1/excloud/
/home/mang/test1/excloud2/
/home/mang/test3/

#######################在上方设置要排除的路径###################################### 
[exclude_path_end]
