# codeCopy类型的配置文件示例

#=========================================规范说明======================================
# 一些规范说明
 # 所有的目录路径都不要以/结尾 如 DEST=/Users/mang/Desktop/linecount 而不是 DEST=/Users/mang/Desktop/linecount/
 # 注释以#开头


#=========================================一些通用配置==========================================
#源基准路径
SOURCE_BASE_PATH=/Users/mang/work/code/CodeSpace-unieap/pszx-20161219-V4.6-2


#源文件配置文件路径
#在如下文件中配置要拷备哪些源文件(因一般要拷备哪些源文件都是从svn日志中提取出来 所以我感觉放到该配置文件中不方便所以单独放到另一文件中)
#如下是一些规范
##一行一个 
##支持注释# 但#必须顶格写
##写相对"源基准路径"的相对路径即可 
##路径最前面不要加/ 因为是相对路径  如webroot/web-inf/xx.xml 而不是/weroot/web-inf/xx.xml
SOURCE_FILE=/Users/mang/AppData/百度云同步盘/mac/bat-mac/copyShell/config/pszxsrc/changeLog-file-uniq-pszx.txt


# 目标基准路径
# 即将文件拷备哪里
TARGET_BASE_PATH=/Users/mang/Desktop/copyTarget-pszx


#=========================================配置结束==========================================
