# 用于备份mac上重要的配置 原来由copyConfigFile.sh完成 后来写了copyShell.sh 所以把复制的工作都统一到这里来


#=========================================规范说明======================================
# 一些规范说明
 # 所有的目录路径都不要以/结尾 如 DEST=/Users/mang/Desktop/linecount 而不是 DEST=/Users/mang/Desktop/linecount/
 # 注释以#开头


#=========================================一些通用配置==========================================
[CONFIG_START]

# 说明
# 如果源路径为1个 目标路径为1个 则将源文件拷备到目录路径 目标路径可为文件也可为目录
# 如果源路径为1个 目标路径为多个 则将源文件依次拷备到各目标路径
# 如果源路径为多个 目标路径为1个 则将这些源文件都拷备到目标路径 目标路径必须为目录
# 如果源路径为多个 目标路径为多个 则依次将源文件拷备到目录路径 即第一个源文件拷备到第一个目录路径 第二个源文件拷备到第二个目录路径 所以源路径与目标路径个数必须相等 否则报错

[SOURCE_START]
####################下面源文件路径####################
# 一行一个 可添加注释以#开头
# 写绝对路径不要写相对路径  不要写成 ~/.vimrc  会报如下错
# cp: cannot stat '~/.dir_colors': No such file or directory
/Users/mang/.vimrc  
/Users/mang/.gvimrc
/Users/mang/.dir_colors
/Users/mang/.bash_profile


[SOURCE_END]


[TARGET_START]
####################下面配置目标路径####################
# 一行一个 可添加注释 以#开头

/Users/mang/AppData/百度云同步盘/mac/macConfigBackup/shellConfigBak/

#c:\users\mang\WorkTools\dataExchange\saca-dataexchange-4.6-win64-dev-20160804\dataexchange\webapps\dxservice\WEB-INF\conf\unieap\license\unieap.license

[TARGET_END]

[CONFIG_END]
#=========================================配置结束==========================================
