#=========================================配置一些公用的设置 如结果文件存储路径======================================
# 一些规范说明
 # 所有的目录路径都以/结尾 如 DEST=/Users/mang/Desktop/linecount/ 而不是 DEST=/Users/mang/Desktop/linecount
 # 注释以#开头


#=========================================一些通用配置==========================================
[CONFIG_START]

# 结果文件存储路径
#DEST=/Users/mang/bat-mac/tt/
DEST=/Users/mang/Desktop/linecount/

# 结果文件名 
RESULT=wcm.result
ERROR=wcm.error

#每次计算时是否清除以前的计算数据
#IS_CLEAR_OLD_DATA=false
IS_CLEAR_OLD_DATA=true

#是否按路径分别统计 将统计结果放在 $DEST路径下面
#IS_STATISTICS_PATH_RESPECTIVE=false
IS_STATISTICS_PATH_RESPECTIVE=true

# 如果按路径分别统计后。按路径分别统计的结果放在哪个文件里
PATH_RESPECTIVE=wcm.result.path_respective

[CONFIG_END]

#=========================================配置要计算行数、文件个数的路径==========================================
[PATH_START]
/Users/mang/Desktop/linecount/job/


[PATH_END]

#=============================配置需要计算行数的文件后缀名==========================================================
[INCLUDE_SUFFIX_START]
*.js
*.java

[INCLUDE_SUFFIX_END]

#=============================配置需要计算文件个数的文件后缀名=====================================================
[INCLUDE_FILECOUNT_START]
*.js
*.java

[INCLUDE_FILECOUNT_END]
