#=========================================规范说明======================================
# 一些规范说明
 # 所有的目录路径都不要以/结尾 如 DEST=/Users/mang/Desktop/linecount 而不是 DEST=/Users/mang/Desktop/linecount/
 # 注释以#开头


#=========================================一些通用配置==========================================
[CONFIG_START]

# 源文件 一行一个 如果在行首加注释#则自动会排除
[SOURCE_START]

/Users/mang/Desktop/test.copy
#11
#/Users/mang/Desktop/test2.copy

[SOURCE_END]

# 目标路径 一行一个
[TARGET_START]

/Users/mang/AppData/百度云同步盘/mac/bat-mac/copyShell/test
#/Users/mang/AppData/百度云同步盘/mac/bat-mac/copyShell/test/test2.copy


[TARGET_END]

[CONFIG_END]
#=========================================配置结束==========================================
