# 这是一个配合getConfig.sh 的样例配置文件
#=========================================规范说明======================================
# 一些规范说明
 # 所有的目录路径都不要以/结尾 如 DEST=/Users/mang/Desktop/linecount 而不是 DEST=/Users/mang/Desktop/linecount/
 # 注释以#开头


#=========================================一些通用配置==========================================
[CONFIG_START]

[SOURCE_START]
# 源文件 一行一个 如果在行首加注释#则自动会排除
# 不要用相对路径 如~ 都写成绝对路径

/Users/mang/Desktop/test.copy
/Users/mang/Desktop/test2.copy

[SOURCE_END]
SOURCE_START=xx
# 如下是一个取单行配置的例子 可通过如下命令取出配置 等号是分隔符
#./getConfig.sh -f test.config -s CONFIG_START -e CONFIG_END -i SOURCE
SOURCE=/Users/mang/Desktop/test.copy

[TARGET_START]
# 目标路径 一行一个
# 如下是一个取多行配置的例子 可通过如下命令取出配置
# ./getConfig.sh -f test.config -s TARGET_START -e TARGET_END -m

/Users/mang/AppData/百度云同步盘/mac/bat-mac/copyShell/test
/Users/mang/AppData/百度云同步盘/mac/bat-mac/copyShell/test/test2.copy


[TARGET_END]

[CONFIG_END]
#=========================================配置结束==========================================
